@media screen and (max-width:576px) {
    .nav-items,
    .btn-primary,
    .logo a{
        display: none !important;
    } 
    .nav-icons{
        display: block;
        margin-right: 20px;
    }  
    .logo img{
        margin-left: 20px;
        margin-top: 20px;
    }
    .header-section{
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }
/****____________________ 5.0 - banner area start  _______________________*****/
    .banner-section{
        padding: 50px 20px;
    }
    .banner-content{
        flex-direction: column;
    }
    .banner-items{
        order: 2;
        text-align: center;
    }
    .banner-img {
        order: 1;
    }
    /****____________________ 5.0 - banner area start  _______________________*****/

    .curriculum-content{
        flex-direction: column;
        padding: 30px;
    }
    .curriculum-items{
        margin-bottom: 15px;
    }
    .slider-btn{
        display: none;
    }














}